$textfont: Arial;
$textsizemedium: 20px;
/* -----------------------------------------
-------------------COLORS-------------------
----------------------------------------- */
$lightgrayblue: rgb(174, 174, 174);
$blue: rgb(71, 71, 255);
$lightblue: rgb(159, 159, 255)