$textfont: Arial;
$textsizemedium: 20px;


/* -----------------------------------------
-------------------COLORS-------------------
----------------------------------------- */
$lightgrayblue: rgb(174, 174, 174);