
@use 'variables';
@use './components/component';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 2px solid red;
}

body {
    background-color: #f5f7f9;
}

.container {
    // background-color: #F5F7F9;
    display: flex;
    width: 100%;
}
.menu-hide {
    display: none;
}
.menu-display {
    display: block;
}
.sidebar-responsive {
    position: absolute;
    background-color: #f5f7f9;
    width: 100%;
    height: 100%;
    .menu-container {
        width: 40px;
        aspect-ratio: 1/1;
        margin: 0 auto;
        margin-bottom: 15px;
        .menu-button {
            width: 100%;
            height: 100%;
            border: none;
            background-color: variables.$white;
            .fa-solid {
                font-size: 40px;
            }
        }
    }
}

.sidebar , .sidebar-full{
    padding: 1em 2.5em;
    
    .sidebar-info {
        margin-top: 20px;
    }

    .sidebar-name-email {
        @include variables.sidebar-type;

        .sidebar-name {
            color: #2a2a2a;
        }

        .sidebar-email {
            font-weight: 200;
        }
    }

    .sidebar-separator {
        margin: 2vh 0;
        height: 2px;
        max-width: 200px;
        background-color: #EAEBF0;
    }

    .sidebar-search {
        margin: 2vh 0;
        max-width: 200px;

        input {
            @include variables.sidebar-type;
            border: none;
            border-radius: 4px;
            font-weight: 200;
            padding: 6px;

        }
    }

    .sidebar-tab {
        align-items: center;
        display: flex;
        gap: 8px;
        padding: 6px;
        margin: 6px 0;
        max-width: 200px;
        border-radius: 8px;
        cursor: pointer;
    }

    .sidebar-tab:hover {
        transition: 250ms ease;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .sidebar-tab:active {
        color: #4A4B52;
        background-color: #fff;
    }

    .sidebar-links {
        @include variables.sidebar-type;
    }

    .sidebar-dashboard {
        background-color: #fff;
        color: #4a4b52;
        box-shadow: variables.$shadow; 
    }
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .main {
        margin-top: 2.5vh;
        background-color: #fff;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
        box-shadow: variables.$shadow;
        width: 100%;
        // height: 95vh;
    }
}

.main-top {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    // comments right above and below r what im gonna put in the media qry
    .menu-container {
        width: 40px;
        aspect-ratio: 1/1;
        margin: 0 auto;
        margin-bottom: 15px;
        .menu-button {
            width: 100%;
            height: 100%;
            border: none;
            background-color: variables.$white;
            .fa-solid {
                font-size: 40px;
            }
        }
    }
    .main-title {
        color: #2a2a2a;
        font-family: "articulat-cf", sans-serif;
        font-size: 3em;
        font-weight: 600;
        text-align: center;
    }

    .main-caption {
        color: #2a2a2a;
        font-family: "articulat-cf", sans-serif;
        font-weight: 200;
        text-align: center;
    }
}

.main-middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(1em, 2vw, 3em); // USE CLAMP
    flex-wrap: wrap;

    .middle-flex {
        min-width: 20em;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;
        width: clamp(20em, 3em + 23vw, 40em); // USE CLAMP
        // margin: 1em 0;
        gap: clamp(3em, 5vw, 6em); // USE CLAMP
        padding: 1.5em;
    }

    .revenue {
        min-height: 15vw;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: radial-gradient(circle at 90% 10%, #40a2ca, #345BFC, #5E64EA);
        transition: transform 300ms ease, box-shadow 250ms ease;

        .revenue-overall-arrow {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .revenue-overall {
                color: #fff;
                font-family: "articulat-cf", sans-serif;
                font-size: clamp(1.5em, 1.5em + 0.5vw, 3em); // USE CLAMP --> ALSO ON TOTAL SITE VIEWS, ETC.
            }
        }

        .revenue-bottom {
            color: #fff;
            font-family: "articulat-cf", sans-serif;

            .gain {
                display: flex;
                align-items: center;
                gap: 0.5em;

                .revenue-percent-gain {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 100px;
                    padding: 2.5px 5px;
                }
            }

            .revenue-amount {
                font-weight: 600;
                font-size: clamp(3em, 3em + 1vw, 4.5em);
            }
        }
    }

    .revenue:hover {
        transform: translateY(-5px);
        box-shadow: rgba(0, 0, 0, 0.4) 0 5px 10px;
    }

    .insight {
        min-height: 15vw;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: transform 300ms ease, box-shadow 250ms ease;

        .insight-overall-arrow {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .insight-overall {
                color: #2a2a2a;
                font-family: "articulat-cf", sans-serif;
                font-size: clamp(1.5em, 1.5em + 0.5vw, 3em);
            }
        }

        .insight-bottom {
            color: #2a2a2a;
            font-family: "articulat-cf", sans-serif;

            .gain {
                display: flex;
                align-items: center;
                gap: 0.5em;

                .insight-percent-gain {
                    background-color: #D6FEE3;
                    border-radius: 100px;
                    padding: 2.5px 5px;
                }
            }

            .insight-amount {
                font-weight: 600;
                font-size: clamp(3em, 3em + 1vw, 4.5em);
            }
        }
    }

    .insight:hover {
        transform: translateY(-5px);
        box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px;
    }

    .finance {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        min-height: 15vw;
        gap: clamp(0.5em, 1.4vw, 6em); // USE CLAMP
        // justify-content: space-evenly;
        transition: transform 300ms ease, box-shadow 250ms ease;

        .finance-overall-arrow {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // margin-left: 1em;

            .finance-overall {
                color: #2a2a2a;
                font-family: "articulat-cf", sans-serif;
                font-size: clamp(1.5em, 1.5em + 0.5vw, 3em);
            }
        }

        .finance-bottom {
            display: flex;
            flex-direction: column;
            gap: 0.7em;
            // gap: clamp(0.1em, 0.1em + 0.2w, 1em);
            color: #2a2a2a;
            font-family: "articulat-cf", sans-serif;
            // margin-left: 1em;

            .finance-amount {
                font-family: "articulat-cf", sans-serif;
                font-weight: 600;
                font-size: clamp(3em, 2em + 1vw, 4.5em);
            }

            .finance-bar {
                display: flex;
                width: 100%;
                height: 3em;

                .filled {
                    border-top-left-radius: 1em;
                    border-bottom-left-radius: 1em;
                    width: 50%;
                    height: 50px;
                    background: radial-gradient(circle at 90% 10%, #40a2ca, #345BFC, #5E64EA);
                }
                
                .unfilled {
                    width: 50%;
                    height: 50px;
                    border-top-right-radius: 1em;
                    border-bottom-right-radius: 1em;
                    box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;
                    // CHANGE THE ABOVE BOX SHADOW TO SOMETHING ELSE
                }
            }
            
            .finance-legend {
                display: flex;
                gap: 0.5em;

                .finance-legend-icon {
                    border-radius: 50%;
                    background: radial-gradient(circle at 90% 10%, #40a2ca, #345BFC, #5E64EA);
                    width: 1em;
                    height: 1em;
                }
            }
        }
    }

    .finance:hover {
        transform: translateY(-5px);
        box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px;
    }

    .main-bottom {
        // margin-top: 1em;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        // align-items: center;
        justify-content: center;
        padding-bottom: 0.5vw;
        gap: 2em;
        margin-bottom: 2em;

        .graph {
            border-radius: 16px;
            box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;
            @extend %graphCard;
            transition: transform 300ms ease, box-shadow 250ms ease;
        }

        .graph:hover {
            transform: translateY(-5px);
            box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px;
        }

        .chart-flex {
            min-width: 20em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
            box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;
            width: clamp(12em, 12em + 16vw, 40em);
            transition: transform 300ms ease, box-shadow 250ms ease;
        }

        .chart-flex:hover {
            transform: translateY(-5px);
            box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px;
        }

        .chart {
            padding: 1.5em;
            text-align: center;
            font-size: 3em;
            font-family: "articulat-cf", sans-serif;
        }
    }
}
@media screen and (min-width: 900px) {
    .menu-container {
        display: none;
    }
}
@media (max-width: 900px) {

    .sidebar-full {
        display: none;
    }

    .main {
        margin-top: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }
}

@media (max-width: 600px) {
    .graph {
        display: none;
    }
}