@use 'variables';

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    // outline: 2px solid red;
}

.container {
    background-color: #F5F7F9;
    display: flex;
    width: 100%;
}

.sidebar {
    padding: 2.5vmin; 

    .sidebar-info {
        margin-bottom: 2vmin;
    }
    .sidebar-search {
        margin-bottom: 2vmin;
    }
}

header {
    width: 100%;
    height: 80px;
    display: flex;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url(images/bird-colorful-logo-gradient-vector_343694-1365.avif);
    background-size: 100px 100px;
}

.searchbar {
    width: 400px;
    height: 35px;
    #searchbar {
        width: 100%;
        height: 100%;
        border: 1px solid variables.$lightgrayblue;
        border-radius: 40px;
    }
}

nav {
    height: 25px;
    ul {
        padding: 0px;
        li {
            list-style-type: none;
            display: inline;
            font-family: variables.$textfont;
            font-size: variables.$textsizemedium;
        }
    }
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.notifications {
    width: 30px;
    height: 30px;
}
.card {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.top-row .middle-row .bottom-row {
    display: flex;
}
.expand-arrow {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 20px;
}