@use 'variables';
@use './components/component';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 2px solid red;
}

body {
    background-color: #f5f7f9;
}

.container {
    // background-color: #F5F7F9;
    display: flex;
    width: 100%;
}

.sidebar {
    padding: 1em 2.5em;

    .sidebar-info {
        margin-top: 20px;
    }

    .sidebar-name-email {
        @include variables.sidebar-type;

        .sidebar-name {
            color: #2a2a2a;
        }

        .sidebar-email {
            font-weight: 200;
        }
    }

    .sidebar-separator {
        margin: 2vh 0;
        height: 2px;
        max-width: 200px;
        background-color: #EAEBF0;
    }

    .sidebar-search {
        margin: 2vh 0;
        max-width: 200px;

        input {
            @include variables.sidebar-type;
            border: none;
            border-radius: 4px;
            font-weight: 200;
            padding: 6px;

        }
    }

    .sidebar-tab {
        align-items: center;
        display: flex;
        gap: 8px;
        padding: 6px;
        margin: 6px 0;
        max-width: 200px;
        border-radius: 8px;
        cursor: pointer;
    }

    .sidebar-tab:hover {
        transition: 250ms ease;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .sidebar-tab:active {
        color: #4A4B52;
        background-color: #fff;
    }

    .sidebar-links {
        @include variables.sidebar-type;
    }

    .sidebar-dashboard {
        background-color: #fff;
        color: #4a4b52;
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px; // turn this into a variable
    }
}

.main-container {
    display: flex;
    align-items: center;
    width: 100%;

    .main {
        // margin-top: 1em;
        margin-top: 2.5vh;
        background-color: #fff;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;
        width: 100%;
        height: 95vh;
        // dont specify a height, and the window will auto
        // resize as the elements wrap
        // comment the height and uncomment the margin for media qry
    }
}

.main-top {
    // width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1.6em 0 1em 2.2em;
    // margin: 1em 0;
    // comments right above and below r what im gonna put in the media qry

    .main-title {
        color: #2a2a2a;
        font-family: "articulat-cf", sans-serif;
        font-size: 3em;
        font-weight: 600;
        // text-align: center;
    }

    .main-caption {
        color: #2a2a2a;
        font-family: "articulat-cf", sans-serif;
        font-weight: 200;
        // text-align: center;
    }
}

.main-middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em; // USE CLAMP
    flex-wrap: wrap;

    .middle-flex {
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;
        width: clamp(12em, 12em + 16vw, 40em); // USE CLAMP
        // margin: 1em 0;
        gap: clamp(3em, 3em + 3vw, 6em); // USE CLAMP
        padding: 1.5em;
    }

    .revenue {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: radial-gradient(circle at 90% 10%, #40a2ca, #345BFC, #5E64EA);
        transition: transform 300ms ease, box-shadow 250ms ease;

        .revenue-overall-arrow {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .revenue-overall {
                color: #fff;
                font-family: "articulat-cf", sans-serif;
                font-size: clamp(1.5em, 1.5em + 0.5vw, 3em); // USE CLAMP --> ALSO ON TOTAL SITE VIEWS, ETC.
            }
        }

        .revenue-bottom {
            color: #fff;
            font-family: "articulat-cf", sans-serif;

            .gain {
                display: flex;
                align-items: center;
                gap: 0.5em;

                .revenue-percent-gain {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 100px;
                    padding: 2.5px 5px;
                }
            }

            .revenue-amount {
                font-weight: 600;
                font-size: clamp(3em, 3em + 1vw, 4.5em);
            }
        }
    }

    .revenue:hover {
        transform: translateY(-5px);
        box-shadow: rgba(0, 0, 0, 0.4) 0 5px 10px;
    }

    .insight {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: transform 300ms ease, box-shadow 250ms ease;

        .insight-overall-arrow {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .insight-overall {
                color: #2a2a2a;
                font-family: "articulat-cf", sans-serif;
                font-size: clamp(1.5em, 1.5em + 0.5vw, 3em);
            }
        }

        .insight-bottom {
            color: #2a2a2a;
            font-family: "articulat-cf", sans-serif;

            .gain {
                display: flex;
                align-items: center;
                gap: 0.5em;

                .insight-percent-gain {
                    background-color: #D6FEE3;
                    border-radius: 100px;
                    padding: 2.5px 5px;
                }
            }

            .insight-amount {
                font-weight: 600;
                font-size: clamp(3em, 3em + 1vw, 4.5em);
            }
        }
    }

    .insight:hover {
        transform: translateY(-5px);
        box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px;
    }

    .finance {
        // cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: transform 300ms ease, box-shadow 250ms ease;

        .finance-overall-arrow {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // margin-left: 1em;

            .finance-overall {
                color: #2a2a2a;
                font-family: "articulat-cf", sans-serif;
                font-size: clamp(1.5em, 1.5em + 0.5vw, 3em);
            }
        }

        .finance-bottom {
            color: #2a2a2a;
            font-family: "articulat-cf", sans-serif;
            // margin-left: 1em;

            .gain {
                display: flex;
                align-items: center;
                // gap: 0.5em;

                .finance-percent-gain {
                    background-color: #D6FEE3;
                    border-radius: 100px;
                    padding: 2.5px 5px;
                }
            }

            .finance-amount {
                font-weight: 600;
                font-size: clamp(3em, 3em + 1vw, 4.5em);
            }
        }
    }

    .finance:hover {
        transform: translateY(-5px);
        box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px;
    }

    .main-bottom {
        // margin-top: 1em;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        // align-items: center;
        justify-content: center;
        gap: 2em;

        .graph {
            border-radius: 16px;
            box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;
            @extend %graphCard;
        }

        .chart {
            border-radius: 16px;
            box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;
            width: clamp(12em, 12em + 12vw, 24em);
        }
    }
}